---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Velzur">
  <header
    class="relative bg-dark text-yellow h-[1000px] flex flex-col justify-center items-center mb-32"
  >
    <h1 class="text-[90px] text-center mb-6">
      Una suscripción. <br /> Resultados ilimitados.
    </h1>
    <a
      href="#"
      class="px-9 py-4 border-2 border-yellow rounded-[20px] text-xl text-yellow bg-transparent hover:text-black hover:bg-yellow font-semibold"
      >Ver Precios</a
    >
    <svg
      width="541"
      height="417"
      viewBox="0 0 541 417"
      xmlns="http://www.w3.org/2000/svg"
      class="absolute fill-red right-0 bottom-0"
    >
      <path
        d="M478.571 242.786C477.5 240.643 477.5 237.429 476.429 235.286C505.357 209.571 567.5 193.5 562.143 254.571C636.071 187.071 472.143 87.4286 428.214 159.214C426.071 157.071 425 156 422.857 154.929C433.571 117.429 480.714 69.2143 507.5 126C537.5 29.5714 343.571 26.3571 343.571 112.071C341.429 111 339.286 111 337.143 111C326.429 74.5714 342.5 4.92857 395 42.4286C373.571 -56.1428 202.143 38.1429 246.071 112.071C243.929 112.071 241.786 113.143 239.643 114.214C211.786 87.4286 191.429 19.9286 255.714 25.2857C188.214 -48.6429 87.5 116.357 161.429 160.286C159.286 161.357 158.214 163.5 156.071 165.643C118.571 156 69.2857 107.786 127.143 81C31.7857 51 27.5 240.643 110 244.929C108.929 247.071 108.929 250.286 107.857 252.429C70.3571 261 7.14285 243.857 42.5 193.5C-53.9286 214.929 33.9286 377.786 106.786 345.643C107.857 348.857 107.857 351 108.929 354.214C80 378.857 20 393.857 25.3571 333.857C-46.4286 399.214 105.714 495.643 155 434.571L161.429 441C147.5 476.357 104.643 516 78.9286 462.429C50 554.571 226.786 562.071 241.786 487.071C245 488.143 248.214 489.214 251.429 489.214C256.786 526.714 238.571 580.286 190.357 547.071C210.714 641.357 368.214 558.857 343.571 487.071L353.214 483.857C376.786 513.857 387.5 569.571 329.643 564.214C395 636 490.357 483.857 431.429 434.571L437.857 428.143C473.214 442.071 511.786 484.929 459.286 509.571C552.5 538.5 558.929 356.357 480.714 345.643C481.786 342.429 481.786 340.286 482.857 337.071C520.357 330.643 579.286 347.786 543.929 397.071C641.429 371.357 552.5 206.357 478.571 242.786Z"
      ></path>
    </svg>
  </header>
  <main class="pb-6">
    <p class="font-semibold text-6xl max-w-7xl mx-auto mb-32">
      Un sistema de suscripción creado para escalar tu negocio mediante el
      diseño y desarrollo de software.
    </p>
    <div class="flex gap-6 justify-center mb-32">
      <Card
        title="Un modelo único."
        body="Suscríbete a un plan y solicita todo el diseño y código que necesites."
        className="bg-purple"
      />
      <Card
        title="A la velocidad de la luz."
        body="Recibe tu diseño y/o código en unos pocos días laborables."
        className="bg-red"
      />
      <Card
        title="Satisfacción primero."
        body="Haremos todos los cambios necesarios hasta que estés 100% satisfecho."
        className="bg-yellow text-dark"
      />
    </div>
    <div class="flex flex-col mb-32">
      <div></div>
      <div
        class="bg-light-purple rounded-[55px] flex gap-4 py-16 px-40 justify-evenly items-center text-purple mx-8"
      >
        <h2 class="my-auto text-6xl font-semibold w-1/2">
          ¿A la antigua?<br />Cosa del pasado.
        </h2>
        <div class="flex flex-col w-1/2">
          <div class="mb-12">
            <h3 class="text-5xl font-semibold mb-4">Un mundo sin reuniones.</h3>
            <p class="text-dark-purple text-xl font-medium">
              ¿Cansado de reuniones sin sentido? Nosotros también, hemos
              optimizado nuestro sistema de negocio para que funcione sin la
              necesidad de reuniones.
            </p>
          </div>
          <div class="mb-12">
            <h3 class="text-5xl font-semibold mb-4">Un mundo sin reuniones.</h3>
            <p class="text-dark-purple text-xl font-medium">
              ¿Cansado de reuniones sin sentido? Nosotros también, hemos
              optimizado nuestro sistema de negocio para que funcione sin la
              necesidad de reuniones.
            </p>
          </div>
          <div>
            <h3 class="text-5xl font-semibold mb-4">Un mundo sin reuniones.</h3>
            <p class="text-dark-purple text-xl font-medium">
              ¿Cansado de reuniones sin sentido? Nosotros también, hemos
              optimizado nuestro sistema de negocio para que funcione sin la
              necesidad de reuniones.
            </p>
          </div>
        </div>
      </div>
      <div></div>
    </div>
    <div>
      <h2 class="text-6xl font-semibold mb-14 text-center">
        Conoce los beneficios de<br />tu membresía.
      </h2>
      <div
        class="grid grid-cols-3 gap-x-24 gap-y-20 text-center max-w-5xl mx-auto mb-10"
      >
        <div class="font-medium">
          <svg
            width="40"
            height="36"
            viewBox="0 0 40 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mb-4 mx-auto"
          >
            <path
              d="M21.3246 26.6484C25.0688 26.6484 27.7934 24.5566 27.7934 21.6387C27.7934 19.1778 26.4399 17.8593 23.0824 17.0508L20.5863 16.4355C18.6176 15.9433 17.7738 15.2578 17.7738 14.0801C17.7738 12.6035 19.1449 11.584 21.184 11.584C23.0296 11.584 24.1546 12.375 24.7699 14.0625C25.0512 14.6777 25.5258 14.959 26.018 14.959C26.9321 14.959 27.4595 14.1504 27.143 13.0957C26.6508 11.2324 24.5415 9.26367 21.184 9.26367C17.6157 9.26367 15.0668 11.3203 15.0668 14.1855C15.0668 16.5937 16.6137 18.0703 19.8304 18.8262L22.3442 19.4238C24.3129 19.8808 25.0512 20.5488 25.0512 21.832C25.0512 23.3437 23.5922 24.3282 21.3246 24.3282C19.268 24.3282 18.02 23.5546 17.3871 21.8847C17.1234 21.2871 16.6488 21.0058 16.1567 21.0058C15.2603 21.0058 14.7856 21.7266 14.9789 22.7812C15.4008 24.9433 17.9321 26.6484 21.3246 26.6484ZM20.2875 28.3711C20.2875 28.9512 20.7621 29.4433 21.3421 29.4433C21.9223 29.4433 22.4145 28.9512 22.4145 28.3711V7.50586C22.4145 6.92578 21.9223 6.43359 21.3421 6.43359C20.7621 6.43359 20.2875 6.92578 20.2875 7.50586V28.3711ZM21.3421 35.8593C31.1332 35.8593 39.2719 27.7207 39.2719 17.9296C39.2719 8.12109 31.1332 0 21.3421 0C11.5336 0 3.41253 8.10351 3.41253 17.9121H6.40082C6.40082 9.61524 13.0453 3.00586 21.3421 3.00586C29.6391 3.00586 36.2837 9.63282 36.2837 17.9296C36.2837 26.2266 29.6391 32.9062 21.3421 32.8711C16.3324 32.8534 11.9379 30.4278 9.24846 26.6836C8.70354 25.9629 7.87737 25.7343 7.13908 26.1738C6.43596 26.6133 6.24261 27.58 6.84026 28.3534C10.1801 32.8359 15.4183 35.8593 21.3421 35.8593ZM1.25042 14.5371C-0.0152063 14.5371 -0.331612 15.3984 0.353934 16.3828L4.29144 21.9726C4.8715 22.7812 5.71526 22.7637 6.27776 21.9726L10.2153 16.3653C10.8832 15.3984 10.5668 14.5371 9.31878 14.5371H1.25042Z"
              fill="black"></path>
          </svg>
          <h3 class="text-3xl mb-2">Precio fijo</h3>
          <p class="text-xl text-gray">
            No importa qué suceda, paga lo mismo todos los meses.
          </p>
        </div>

        <div class="font-medium">
          <svg
            width="40"
            height="36"
            viewBox="0 0 40 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mb-4 mx-auto"
          >
            <path
              d="M21.3246 26.6484C25.0688 26.6484 27.7934 24.5566 27.7934 21.6387C27.7934 19.1778 26.4399 17.8593 23.0824 17.0508L20.5863 16.4355C18.6176 15.9433 17.7738 15.2578 17.7738 14.0801C17.7738 12.6035 19.1449 11.584 21.184 11.584C23.0296 11.584 24.1546 12.375 24.7699 14.0625C25.0512 14.6777 25.5258 14.959 26.018 14.959C26.9321 14.959 27.4595 14.1504 27.143 13.0957C26.6508 11.2324 24.5415 9.26367 21.184 9.26367C17.6157 9.26367 15.0668 11.3203 15.0668 14.1855C15.0668 16.5937 16.6137 18.0703 19.8304 18.8262L22.3442 19.4238C24.3129 19.8808 25.0512 20.5488 25.0512 21.832C25.0512 23.3437 23.5922 24.3282 21.3246 24.3282C19.268 24.3282 18.02 23.5546 17.3871 21.8847C17.1234 21.2871 16.6488 21.0058 16.1567 21.0058C15.2603 21.0058 14.7856 21.7266 14.9789 22.7812C15.4008 24.9433 17.9321 26.6484 21.3246 26.6484ZM20.2875 28.3711C20.2875 28.9512 20.7621 29.4433 21.3421 29.4433C21.9223 29.4433 22.4145 28.9512 22.4145 28.3711V7.50586C22.4145 6.92578 21.9223 6.43359 21.3421 6.43359C20.7621 6.43359 20.2875 6.92578 20.2875 7.50586V28.3711ZM21.3421 35.8593C31.1332 35.8593 39.2719 27.7207 39.2719 17.9296C39.2719 8.12109 31.1332 0 21.3421 0C11.5336 0 3.41253 8.10351 3.41253 17.9121H6.40082C6.40082 9.61524 13.0453 3.00586 21.3421 3.00586C29.6391 3.00586 36.2837 9.63282 36.2837 17.9296C36.2837 26.2266 29.6391 32.9062 21.3421 32.8711C16.3324 32.8534 11.9379 30.4278 9.24846 26.6836C8.70354 25.9629 7.87737 25.7343 7.13908 26.1738C6.43596 26.6133 6.24261 27.58 6.84026 28.3534C10.1801 32.8359 15.4183 35.8593 21.3421 35.8593ZM1.25042 14.5371C-0.0152063 14.5371 -0.331612 15.3984 0.353934 16.3828L4.29144 21.9726C4.8715 22.7812 5.71526 22.7637 6.27776 21.9726L10.2153 16.3653C10.8832 15.3984 10.5668 14.5371 9.31878 14.5371H1.25042Z"
              fill="black"></path>
          </svg>
          <h3 class="text-3xl mb-2">Precio fijo</h3>
          <p class="text-xl text-gray">
            No importa qué suceda, paga lo mismo todos los meses.
          </p>
        </div>
        <div class="font-medium">
          <svg
            width="40"
            height="36"
            viewBox="0 0 40 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mb-4 mx-auto"
          >
            <path
              d="M21.3246 26.6484C25.0688 26.6484 27.7934 24.5566 27.7934 21.6387C27.7934 19.1778 26.4399 17.8593 23.0824 17.0508L20.5863 16.4355C18.6176 15.9433 17.7738 15.2578 17.7738 14.0801C17.7738 12.6035 19.1449 11.584 21.184 11.584C23.0296 11.584 24.1546 12.375 24.7699 14.0625C25.0512 14.6777 25.5258 14.959 26.018 14.959C26.9321 14.959 27.4595 14.1504 27.143 13.0957C26.6508 11.2324 24.5415 9.26367 21.184 9.26367C17.6157 9.26367 15.0668 11.3203 15.0668 14.1855C15.0668 16.5937 16.6137 18.0703 19.8304 18.8262L22.3442 19.4238C24.3129 19.8808 25.0512 20.5488 25.0512 21.832C25.0512 23.3437 23.5922 24.3282 21.3246 24.3282C19.268 24.3282 18.02 23.5546 17.3871 21.8847C17.1234 21.2871 16.6488 21.0058 16.1567 21.0058C15.2603 21.0058 14.7856 21.7266 14.9789 22.7812C15.4008 24.9433 17.9321 26.6484 21.3246 26.6484ZM20.2875 28.3711C20.2875 28.9512 20.7621 29.4433 21.3421 29.4433C21.9223 29.4433 22.4145 28.9512 22.4145 28.3711V7.50586C22.4145 6.92578 21.9223 6.43359 21.3421 6.43359C20.7621 6.43359 20.2875 6.92578 20.2875 7.50586V28.3711ZM21.3421 35.8593C31.1332 35.8593 39.2719 27.7207 39.2719 17.9296C39.2719 8.12109 31.1332 0 21.3421 0C11.5336 0 3.41253 8.10351 3.41253 17.9121H6.40082C6.40082 9.61524 13.0453 3.00586 21.3421 3.00586C29.6391 3.00586 36.2837 9.63282 36.2837 17.9296C36.2837 26.2266 29.6391 32.9062 21.3421 32.8711C16.3324 32.8534 11.9379 30.4278 9.24846 26.6836C8.70354 25.9629 7.87737 25.7343 7.13908 26.1738C6.43596 26.6133 6.24261 27.58 6.84026 28.3534C10.1801 32.8359 15.4183 35.8593 21.3421 35.8593ZM1.25042 14.5371C-0.0152063 14.5371 -0.331612 15.3984 0.353934 16.3828L4.29144 21.9726C4.8715 22.7812 5.71526 22.7637 6.27776 21.9726L10.2153 16.3653C10.8832 15.3984 10.5668 14.5371 9.31878 14.5371H1.25042Z"
              fill="black"></path>
          </svg>
          <h3 class="text-3xl mb-2">Precio fijo</h3>
          <p class="text-xl text-gray">
            No importa qué suceda, paga lo mismo todos los meses.
          </p>
        </div>
        <div class="font-medium">
          <svg
            width="40"
            height="36"
            viewBox="0 0 40 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mb-4 mx-auto"
          >
            <path
              d="M21.3246 26.6484C25.0688 26.6484 27.7934 24.5566 27.7934 21.6387C27.7934 19.1778 26.4399 17.8593 23.0824 17.0508L20.5863 16.4355C18.6176 15.9433 17.7738 15.2578 17.7738 14.0801C17.7738 12.6035 19.1449 11.584 21.184 11.584C23.0296 11.584 24.1546 12.375 24.7699 14.0625C25.0512 14.6777 25.5258 14.959 26.018 14.959C26.9321 14.959 27.4595 14.1504 27.143 13.0957C26.6508 11.2324 24.5415 9.26367 21.184 9.26367C17.6157 9.26367 15.0668 11.3203 15.0668 14.1855C15.0668 16.5937 16.6137 18.0703 19.8304 18.8262L22.3442 19.4238C24.3129 19.8808 25.0512 20.5488 25.0512 21.832C25.0512 23.3437 23.5922 24.3282 21.3246 24.3282C19.268 24.3282 18.02 23.5546 17.3871 21.8847C17.1234 21.2871 16.6488 21.0058 16.1567 21.0058C15.2603 21.0058 14.7856 21.7266 14.9789 22.7812C15.4008 24.9433 17.9321 26.6484 21.3246 26.6484ZM20.2875 28.3711C20.2875 28.9512 20.7621 29.4433 21.3421 29.4433C21.9223 29.4433 22.4145 28.9512 22.4145 28.3711V7.50586C22.4145 6.92578 21.9223 6.43359 21.3421 6.43359C20.7621 6.43359 20.2875 6.92578 20.2875 7.50586V28.3711ZM21.3421 35.8593C31.1332 35.8593 39.2719 27.7207 39.2719 17.9296C39.2719 8.12109 31.1332 0 21.3421 0C11.5336 0 3.41253 8.10351 3.41253 17.9121H6.40082C6.40082 9.61524 13.0453 3.00586 21.3421 3.00586C29.6391 3.00586 36.2837 9.63282 36.2837 17.9296C36.2837 26.2266 29.6391 32.9062 21.3421 32.8711C16.3324 32.8534 11.9379 30.4278 9.24846 26.6836C8.70354 25.9629 7.87737 25.7343 7.13908 26.1738C6.43596 26.6133 6.24261 27.58 6.84026 28.3534C10.1801 32.8359 15.4183 35.8593 21.3421 35.8593ZM1.25042 14.5371C-0.0152063 14.5371 -0.331612 15.3984 0.353934 16.3828L4.29144 21.9726C4.8715 22.7812 5.71526 22.7637 6.27776 21.9726L10.2153 16.3653C10.8832 15.3984 10.5668 14.5371 9.31878 14.5371H1.25042Z"
              fill="black"></path>
          </svg>
          <h3 class="text-3xl mb-2">Precio fijo</h3>
          <p class="text-xl text-gray">
            No importa qué suceda, paga lo mismo todos los meses.
          </p>
        </div>
        <div class="font-medium">
          <svg
            width="40"
            height="36"
            viewBox="0 0 40 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mb-4 mx-auto"
          >
            <path
              d="M21.3246 26.6484C25.0688 26.6484 27.7934 24.5566 27.7934 21.6387C27.7934 19.1778 26.4399 17.8593 23.0824 17.0508L20.5863 16.4355C18.6176 15.9433 17.7738 15.2578 17.7738 14.0801C17.7738 12.6035 19.1449 11.584 21.184 11.584C23.0296 11.584 24.1546 12.375 24.7699 14.0625C25.0512 14.6777 25.5258 14.959 26.018 14.959C26.9321 14.959 27.4595 14.1504 27.143 13.0957C26.6508 11.2324 24.5415 9.26367 21.184 9.26367C17.6157 9.26367 15.0668 11.3203 15.0668 14.1855C15.0668 16.5937 16.6137 18.0703 19.8304 18.8262L22.3442 19.4238C24.3129 19.8808 25.0512 20.5488 25.0512 21.832C25.0512 23.3437 23.5922 24.3282 21.3246 24.3282C19.268 24.3282 18.02 23.5546 17.3871 21.8847C17.1234 21.2871 16.6488 21.0058 16.1567 21.0058C15.2603 21.0058 14.7856 21.7266 14.9789 22.7812C15.4008 24.9433 17.9321 26.6484 21.3246 26.6484ZM20.2875 28.3711C20.2875 28.9512 20.7621 29.4433 21.3421 29.4433C21.9223 29.4433 22.4145 28.9512 22.4145 28.3711V7.50586C22.4145 6.92578 21.9223 6.43359 21.3421 6.43359C20.7621 6.43359 20.2875 6.92578 20.2875 7.50586V28.3711ZM21.3421 35.8593C31.1332 35.8593 39.2719 27.7207 39.2719 17.9296C39.2719 8.12109 31.1332 0 21.3421 0C11.5336 0 3.41253 8.10351 3.41253 17.9121H6.40082C6.40082 9.61524 13.0453 3.00586 21.3421 3.00586C29.6391 3.00586 36.2837 9.63282 36.2837 17.9296C36.2837 26.2266 29.6391 32.9062 21.3421 32.8711C16.3324 32.8534 11.9379 30.4278 9.24846 26.6836C8.70354 25.9629 7.87737 25.7343 7.13908 26.1738C6.43596 26.6133 6.24261 27.58 6.84026 28.3534C10.1801 32.8359 15.4183 35.8593 21.3421 35.8593ZM1.25042 14.5371C-0.0152063 14.5371 -0.331612 15.3984 0.353934 16.3828L4.29144 21.9726C4.8715 22.7812 5.71526 22.7637 6.27776 21.9726L10.2153 16.3653C10.8832 15.3984 10.5668 14.5371 9.31878 14.5371H1.25042Z"
              fill="black"></path>
          </svg>
          <h3 class="text-3xl mb-2">Precio fijo</h3>
          <p class="text-xl text-gray">
            No importa qué suceda, paga lo mismo todos los meses.
          </p>
        </div>
        <div class="font-medium">
          <svg
            width="40"
            height="36"
            viewBox="0 0 40 36"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="mb-4 mx-auto"
          >
            <path
              d="M21.3246 26.6484C25.0688 26.6484 27.7934 24.5566 27.7934 21.6387C27.7934 19.1778 26.4399 17.8593 23.0824 17.0508L20.5863 16.4355C18.6176 15.9433 17.7738 15.2578 17.7738 14.0801C17.7738 12.6035 19.1449 11.584 21.184 11.584C23.0296 11.584 24.1546 12.375 24.7699 14.0625C25.0512 14.6777 25.5258 14.959 26.018 14.959C26.9321 14.959 27.4595 14.1504 27.143 13.0957C26.6508 11.2324 24.5415 9.26367 21.184 9.26367C17.6157 9.26367 15.0668 11.3203 15.0668 14.1855C15.0668 16.5937 16.6137 18.0703 19.8304 18.8262L22.3442 19.4238C24.3129 19.8808 25.0512 20.5488 25.0512 21.832C25.0512 23.3437 23.5922 24.3282 21.3246 24.3282C19.268 24.3282 18.02 23.5546 17.3871 21.8847C17.1234 21.2871 16.6488 21.0058 16.1567 21.0058C15.2603 21.0058 14.7856 21.7266 14.9789 22.7812C15.4008 24.9433 17.9321 26.6484 21.3246 26.6484ZM20.2875 28.3711C20.2875 28.9512 20.7621 29.4433 21.3421 29.4433C21.9223 29.4433 22.4145 28.9512 22.4145 28.3711V7.50586C22.4145 6.92578 21.9223 6.43359 21.3421 6.43359C20.7621 6.43359 20.2875 6.92578 20.2875 7.50586V28.3711ZM21.3421 35.8593C31.1332 35.8593 39.2719 27.7207 39.2719 17.9296C39.2719 8.12109 31.1332 0 21.3421 0C11.5336 0 3.41253 8.10351 3.41253 17.9121H6.40082C6.40082 9.61524 13.0453 3.00586 21.3421 3.00586C29.6391 3.00586 36.2837 9.63282 36.2837 17.9296C36.2837 26.2266 29.6391 32.9062 21.3421 32.8711C16.3324 32.8534 11.9379 30.4278 9.24846 26.6836C8.70354 25.9629 7.87737 25.7343 7.13908 26.1738C6.43596 26.6133 6.24261 27.58 6.84026 28.3534C10.1801 32.8359 15.4183 35.8593 21.3421 35.8593ZM1.25042 14.5371C-0.0152063 14.5371 -0.331612 15.3984 0.353934 16.3828L4.29144 21.9726C4.8715 22.7812 5.71526 22.7637 6.27776 21.9726L10.2153 16.3653C10.8832 15.3984 10.5668 14.5371 9.31878 14.5371H1.25042Z"
              fill="black"></path>
          </svg>
          <h3 class="text-3xl mb-2">Precio fijo</h3>
          <p class="text-xl text-gray">
            No importa qué suceda, paga lo mismo todos los meses.
          </p>
        </div>
      </div>
      <a
        href="#"
        class="px-9 py-4 border-2 block w-fit mx-auto border-dark rounded-[20px] text-xl text-dark bg-transparent hover:text-white hover:bg-dark font-semibold"
        >Ver Precios</a
      >
    </div>
  </main>
</Layout>
